html{
    background-color: #555555;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: #333333; 
    text-align: center;
    border-radius: 30px;
    border-style: solid;
    border-width: 7px;
    border-color: #444444;
}
.login-label{
    color: white;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 30px;
}
.login-name{
    background-color: #555555;
    font-size: x-large;
    border-style: none;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    color: #CCCCCC;

}
.login-name:hover{
    border-color: #333333;
}
.login-submit{
    font-size: 30px;
    background: linear-gradient(91deg,rgba(63, 94, 251, 1) 0%, rgba(148, 83, 186, 1) 48%, rgba(252, 70, 107, 1) 100%);
    color: white;
    border-style: none;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 30px;
    border-radius: 30px;
    transition: 0.5s;
    transform: 3s;
}
.login-submit:hover{
    border-radius: 10px;
}