<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
       <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
        <link rel="stylesheet" href="../../static/styles.css">
    </head>
   <body>
    <div class="welcome-div">
    <p class="welcome">{{welcome}}</p>
    </div>
        <!-- GitHub-->
        <div class="github-profile">

          <img src="{{ url_for('static', filename='assets/github.png') }}" class="github-logo">
          <p class='profile-title1'>GitHub</p>
          <p class='profile-title2'>KR3915</p>
          <div class="stat">
            <img src="{{url_for('static', filename='assets/star.png')}}" class="stat-icon">
            <p class="stat-text"> Stars: {{github_stars}}</p>
          </div>
          <div class="stat">
            <img src="{{url_for('static', filename='assets/follower.png')}}" class="stat-icon">
            <p class="stat-text"> Followers: {{github_followers}}</p>
          </div>
        </div>

        <!-- Instagram -->

              <div class="instagram-profile">
              <div class="ig-profile">
          <img src="{{ url_for('static', filename='assets/instagram.png') }}" class="github-logo">
          <p class='profile-title1'>Instagram</p>
          <p class='profile-title2'>fent_abuser</p>
          <div class="stat">
            <img src="{{url_for('static', filename='assets/follower.png')}}" class="stat-icon">
            <p class="stat-text"> followers: {{ig_followers}}</p>
          </div>
          <div class="stat">
            <img src="{{url_for('static', filename='assets/follower.png')}}" class="stat-icon">
            <p class="stat-text"> Following: {{ig_following}}</p>
          </div>
        </div>
        </div>
        
              <div class="email-profile">
              <div class="gmail">
            <div class="notif">
              <p class="notif-num">{{gmail_sent}}</p>
            </div>
          </div>
            </div>
          
          <div class="weather-profile">
          <div class="weather-title">
            <img src="{{weather_icon}}">
            <p class="weather-text">{{weather_description}}</p>
          </div>
            <div class="temperature">
              <p>Teplota: {{temp}}°C</p>
              <p>Pocitova: {{temp_feel}}°C</p>
          </div>
          
      </form>
    </body>
