body{
  background-color: black;
  min-height: 100vh;
}
.github-logo{
  width: 20%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
}
.profile{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  width: 25%;
  height: 40%;
  text-align: center;
  background-color: #50207A;
  line-height: 0;
  border-radius: 30px;
  box-shadow: 2px 2px 7px 2px  #333333;
  margin-right: 3%;
  
}


.profile-title1{
  display: inline-block;
  margin-left: 0;
  color: whitesmoke;
  font-size: 200%;
  vertical-align: middle;
  font-weight: bolder;
  vertical-align: middle;
}
.profile-title2{
  color: #CCCCCC;
  font-weight: bolder;
  font-size: 250%;
  margin-bottom: 15%;
}
.profile-stat{
  margin-top: 5%;
  font-size: 200%;
  color: #CCC;
  font-weight: bold;
}
.stat-text{
  display: inline-block;
  vertical-align: middle
}
.stat-icon{
  vertical-align: middle;
  width: 10%;
  margin-right: 5%;
}
.stat-text{
  display: inline-block;
  vertical-align: middle;
  color: whitesmoke;
  font-weight: bold;
  font-size: 150%;

}
.github-profile{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  width: 25%;
  height: 40%;
  text-align: center;
  background-color: #50207A;
  line-height: 0;
  border-radius: 30px;
  box-shadow: 2px 2px 7px 2px  #333333;
  margin-right: 3%;
  vertical-align: top;
}
.instagram-profile{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  width: 25%;
  height: 40%;
  text-align: center;
  background-color: #50207A;
  line-height: 0;
  border-radius: 30px;
  box-shadow: 2px 2px 7px 2px  #333333;
  margin-right: 3%;
  vertical-align: top;
}
.ig-profile{
  background-color: #FF5500;
  border-radius: 30px;
  display: inline-block;
}
.mail-profile{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #444444;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
}
.email-profile{


}

.gmail{
width: 200px;
background-color: red;
border-radius: 100%;
height: 200px;
font-size: 100px;
color: whitesmoke;
font-weight: bolder;
display: inline-flex;
align-items: center;
justify-content: center;
}
.weather-profile{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  width: 25%;
  height: 40%;
  text-align: center;
  background-color: #50207A;
  line-height: 0;
  border-radius: 30px;
  box-shadow: 2px 2px 7px 2px  #333333;
  vertical-align: top;
}
.welcome{
  color:whitesmoke;
  font-size: 200px;
  font-weight: bolder;
  line-height: 0;
}
.welcome-div{
  display: block;
  text-align: center;
  margin-bottom: 30px;
}